.bg-image{
    width: 100vw;
    height: 100vh;
    background: no-repeat center/55%  url('../Icons/background.png');
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: calc((100vh - 300px) / 2);
    left: calc((100vw - 450px) / 2);
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }

  .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
  }

  .btn-close{
    color: #aaa;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    transition: .3s all ease;
  }
  .btn-close:hover {
    color: black;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }